[submodule "no_negative_stock_12"]
	path = no_negative_stock_12
	url = git@github.com:xmarts/no_negative_stock_12.git
[submodule "multi_brannch"]
	path = multi_brannch
	url = git@github.com:viernes/multi_brannch.git
[submodule "cancel_all_in_one"]
	path = cancel_all_in_one
	url = git@github.com:viernes/cancel_all_in_one.git
