[submodule "no_negative_stock_12"]
	path = no_negative_stock_12
	url = git@github.com:xmarts/no_negative_stock_12.git
[submodule "multi_branch"]
	path = multi_branch
	url = git@github.com:viernes/multi_branch.git
